@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 10px; */

  width: 100%;
  height: 100%;
}

body {
  background-color: black;
}

.containerheading h1 {
  font-family: "Poppins", sans-serif;
}

.inputcontainer1 input {
  padding: 10px;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;

  border: 1px solid rgb(153, 148, 148);
}

.inputcontainer1 {
  padding-top: 25px;
}

.inputcontainer2 input {
  padding: 10px;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border: 1px solid rgb(153, 148, 148);
}

.inputcontainer2 {
  padding-top: 10px;
}

.inputcontainer3 input {
  padding-left: 10px;
  padding-right: 240px;
  padding-top: 10px;
  padding-bottom: 150px;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  border: 1px solid rgb(153, 148, 148);
}

.inputcontainer3 {
  padding-top: 10px;
}

.containerheading h1 {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  margin-top: 80px;
}

.button {
  margin-top: 20px;
}
.button button {
  width: 230px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: #006aff;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;

  padding-left: 15px;
  padding-right: 15px;
}

.button button:hover {
  cursor: pointer;
}

.containerheading {
  margin-top: 30px;
}
