body {
  padding: 0px;
  margin: 0px;
  background-color: #0a0a0a;
  overflow-x: hidden;
}

.navbar_container h1 {
  color: white;
}
.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #0a0a0a;
  /* border-bottom: 1px solid rgb(43, 41, 41); */
}

.navbar_container ul {
  display: flex;
  padding-right: 100px;
}

.navbar_container ul li {
  margin-right: 50px;
  list-style: none;
  color: white;
  font-family: "Lato", sans-serif;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

.navbar_container ul li:hover {
  cursor: pointer;
  background: rgb(37, 37, 37);
  border-radius: 15px;
}

.container1 {
  display: flex;
  height: 90vh;
  justify-content: space-between;
  align-items: center;
}

.image_container {
  /* padding-right: 20px; */
  padding-right: 200px;
}

.image_container img {
  /* padding-right: 100px; */
  width: 300px;
}
.image_container {
  margin-bottom: 80px;
}

.container1_txt {
  margin-bottom: 50px;
  padding-left: 100px;
}
.navbar_container img {
  width: 80px;
  margin-left: 50px;
}
.container1_txt h1 {
  max-width: 600px;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 35px;
}

.container1_txt h3 {
  max-width: 600px;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 15px;
}

.container1_txt button {
  margin-top: 10px;
  padding: 10px;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  /* background-color: white; */
  /* border-radius: 10px; */
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.container1_txt button:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.footer_container2 {
  display: flex;
  justify-content: space-evenly;
}
.footer_container2 ul li {
  list-style: none;
}

.footer {
  height: 70vh;
  position: relative;
  bottom: 0px;

  background: #2374bf;
}

.footer_container2_main {
  /* background-color: azure; */
  /* align-items: flex-start; */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer_container2_main ul {
  /* align-self: flex-start; */
  /* position: relative; */
  background-color: blueviolet;
  /* width: fit-content; */
  justify-content: start;
  align-content: flex-start;
  display: flex;
  flex-direction: column;
}
.footer_container2_main ul li {
  /* align-self: flex-start; */

  display: flex;
  flex-direction: column;
  /* background-color: brown; */
  left: 0px;
}
.footer_container2_main li {
  list-style: none;
}

.heading {
  font-size: 35px;
  color: aquamarine;
}
.container2 {
  /* background-color: bisque; */
  height: 100vh;
}
.container2_main1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: brown; */
  height: 50vh;
}

.container2_main1 p {
  max-width: 350px;
  /* height: 50vh; */
}

.line_container {
  height: 40vh;
  background: rgb(109, 235, 51);
  display: flex;
  align-items: center;
}
.card {
  background-color: rgb(255, 255, 255);
  height: 250px;
  margin-right: 100px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
}

.card p {
  font-size: 17px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  /* padding-top: 10px; */
}
.container2_main1 img {
  margin-left: 170px;
}
.container2_main2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: brown; */
  height: 50vh;
}
.container2_main2 img {
  margin-right: 170px;
}
.card2 {
  background-color: rgb(255, 255, 255);
  height: 250px;
  margin-left: 100px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-right: 50px;
  padding-left: 50px;
}

.card2 p {
  font-size: 17px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
.container2_main2 p {
  max-width: 350px;
  /* height: 50vh; */
}

.flexcontainer {
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
  align-self: center;
  display: flex;
  /* background-color: chocolate; */
}

.grid {
  /* background-color: chartreuse; */
  justify-content: center;
  align-items: center;
  display: flex;
  height: 90vh;
  flex-direction: column;
}

.flexcontainer {
  width: fit-content;
  margin: 20px auto;
  /* border: 1px solid red; */
  display: grid;
  grid-template-rows: 220px 220px;
  grid-template-columns: repeat(3, 350px);
  grid-gap: 30px;
}

.innerbox1 {
  background: #151415;
  border-radius: 15px;
}

.innerbox2 {
  background: #151415;
  border-radius: 15px;
}

.innerbox3 {
  background: #151415;
  border-radius: 15px;
}
.innerbox4 {
  background: #151415;
  border-radius: 15px;
}
.innerbox5 {
  background: #151415;
  border-radius: 15px;
}
.innerbox6 {
  background: #151415;
  border-radius: 15px;
}

.grid h1 {
  position: relative;
  margin-top: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.innerbox1_container {
  display: flex;
  align-items: center;
}

.innerbox1_container img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.innerbox1 h1 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}
.innerbox1_container_txt p {
  font-size: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

.innerbox1_container_txt {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.innerbox1_container_txt button {
  background: none;
  outline: none;
  border: none;
  font-size: 15px;
  color: white;
  position: relative;
  cursor: pointer;
}

.events {
  height: 90vh;
  /* background: yellow; */
  align-items: center;
  justify-content: center;
  display: flex;
}

.events_card {
  width: 72vw;
  /* background: yellowgreen; */
  height: 70vh;
  border-radius: 20px;
  background: #501150;
}

.events_card_container2 {
  display: flex;
  flex-direction: row;
}

.events_card_container1 {
  display: flex;
  justify-content: space-between;
  /* background: chartreuse; */
  align-items: center;
}

.events_card_container1 h1 {
  margin-left: 55px;
  color: white;
  font-weight: 300;
}

.events_card_container1 button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 90px;
  height: 40px;
  margin-right: 30px;
  background: white;
  border: none;
  border-radius: 1px;
  font-size: 15px;
}

.events_card_container2 {
  /* background: yellowgreen; */
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.events_card_container3 h4 {
  max-width: 350px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 12px;
  position: relative;
  margin-top: -10px;
}
.events_card_container3 h1 {
  max-width: 350px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

.events_card_container4 h4 {
  max-width: 350px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 12px;
  position: relative;
  margin-top: -10px;
}
.events_card_container4 h1 {
  max-width: 350px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

.events_card_container4 h4 {
  max-width: 350px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.events_card_container3 button {
  background: none;
  border: none;
  color: white;
  font-size: 17px;
}

.events_card_container4 button {
  background: none;
  border: none;
  color: white;
  font-size: 17px;
}
.events_card_container3 {
  padding-top: 40px;
}

.events_card_container4 {
  padding-top: 40px;
}

.grid_gallery {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  width: 75%;
  margin: 50px auto;
  grid-template-columns: repeat(3, 370px);
  color: white;
  justify-content: center;
  grid-gap: 10px;
}

.box1 {
  background: chartreuse;
  grid-column: 1/2;
}

.box2 {
  background: rgb(255, 255, 255);
}

.box3 {
  background: rgb(255, 230, 3);
}

.box4 {
  background: rgb(255, 6, 180);
  grid-column: 1/3;
}

.box5 {
  background: rgb(255, 230, 3);
}

.box6 {
  background: rgb(3, 255, 242);
}

.box7 {
  background: rgb(60, 255, 0);
}

.box8 {
  background: rgb(76, 0, 255);
}

.gallery_grid {
  color: white;
  /* text-align: center; */
  font-family: "Lato", sans-serif;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
}

.gallery_grid h1 {
  /* border-bottom: 1px solid white; */
}

.last_container {
  color: white;
  width: 100vw;
  /* background: yellow; */
  height: 90vh;
  /* justify-content: center; */
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

.last_container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.last_container2_sub1 p {
  max-width: 250px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.last_container2_sub2 p {
  max-width: 250px;
  font-family: "Lato", sans-serif;
}

.last_container2_sub3 p {
  max-width: 250px;
  font-family: "Lato", sans-serif;
}
.last_container2_sub1 {
  padding-left: 200px;
  font-family: "Lato", sans-serif;
}

.last_container2_sub3 {
  padding-right: 150px;
  font-family: "Lato", sans-serif;
}

.last_container_head {
  margin-left: 200px;
  font-family: "Lato", sans-serif;
}
.last_container2 {
  padding-top: 50px;
}

.footer_logo_container {
  /* background: #501150; */
  align-items: center;
  display: flex;
  padding-top: 30px;
  padding-bottom: 10px;
  justify-content: center;
}

.footer_container2_main .lists {
  margin-top: -10px;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  color: white;
}

.footer_container2_main .lists li {
  margin-top: 5px;
  max-width: 250px;
  font-weight: lighter;
}
.footer_container2_main h1 {
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.links li {
  border-bottom: 1px solid #2374bf;
  width: fit-content;
}
.links li:hover {
  cursor: pointer;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.connect_with_us {
  /* background: yellow; */
  padding-top: 60px;
}
.connect_with_us h1 {
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.copyright {
  padding-top: 20px;
  /* background: yellow; */
}

.copyright h1 {
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-top: -10px;
}

.icons {
  /* background: blueviolet; */
  display: flex;
  position: relative;
  margin-top: -10px;
  justify-content: center;
}
.icons i {
  margin: 10px;
  font-size: 25px;
  color: white;
}
.fa-check-circle {
  color: #ffffff;
}
